body {
    background: #f2f2f2;
}

.container {
    background: #f2f2f2;
}

.header {
    background: #70c52a;
    color: #ffffff;
    padding: 10px 40px;
}

.main {
    background: #ffffff;
    color: #2c2c2c;
}

.aside {
    background: #cac9c9;
    color: #4c88f7;
    height: 100px;
}

.columna {
    background: #4c88f7;
    color: #ffffff;
    padding: 20px;
}

.pie {
    background: #2c2c2c;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px;
}